/* cleafix */
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}

.clearfix { 
    display: inline-block; 
}

* html .clearfix { 
    height: 1%; 
}

.clearfix { 
    display: block; 
}
/* end of clearfix */

html {
    font-family: 'Raleway', sans-serif; 
    font-size: 62.5%; 
}

body { 
    font-size: 1.6rem; 
}

h1 { 
    font-size: 3.2rem;
    text-align: center; 
    color: #1FA5B1;
}

h2 {
    font-size: 2.5rem;
    text-align: center;
}

hr {
    display: block;
    height: 0.5rem;
    background-color: #1FA5B1;
    border: none;
}

/* custom css starts here */
.headerContainer,
.footerContainer {
    width: 100%;
    height: 175px;
    background-color: #fff;
    position: relative;
}

.mainContainer {
    width: 100%;
    margin: 0 auto;
    background-color: #C7E8ED;
    padding: 5% 0;
}

.contentContainer {
    width: 65%;
    margin: 0 auto;
}

.topContainer {
    width: 40%;
    margin: 0 auto;
    padding-bottom: 35px;
}

.topContainer h2 {
    font-weight: 300;
}

.botContainer {
    width: 100%;
    margin: 0 auto;
    background-color: #1FA5B1;
    /**/
    height: 500px;
    /**/
}

.botContainer h2 {
    color: #fff;
    margin-top: 0;
    padding-top: 5%;
}

/* navigation section */
.logo {
    display: block;
    float: left;
    margin: 10px 0px 5px 40px;
}

.navigation {
    float: right;
    margin-top: 60px;
}

.navigation ul,
.navigationIcons ul,
.botContainerNav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navigation li {
    display: inline-block;
    padding: 5px;
    font-weight: 700;
}

.navigation li a {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 10px;
}

.navigation li a span {
    color: #1FA5B1;
}

.navigationIcons {
    position: absolute;
    top: 68%;
    right: 18%;
}

.navigationIcons li {
    display: inline-block;
}

.navigationIcons li i {
    display: block;
    font-size: 2rem;
    text-align: center;
    color: #fff;
    background-color: #1FA5B1;
    width: 20px;
    height: 20px;
    padding: 7.5px;
    margin: 5px;
    border-radius: 20px;
}

.navigationIcons li a {
    text-decoration: none;
}
/* navigation section ends*/

/* main section*/
.img {
    display: block;
    width: 100%;
}

.aContainer h2,
.bContainer h2,
.cContainer h2,
.dContainer h2,
.eContainer h2,
.fContainer h2 {
    text-align: left;
    margin: 7.5% 5% 5%;
    color: #fff;
}

.aContainer p,
.bContainer p,
.cContainer p,
.dContainer p,
.eContainer p,
.fContainer p {
    text-align: left;
    margin: 5% 5% 15% 5%;    
    color: #fff;
    font-size: 1.8rem;
    line-height: 3rem;
}

.aContainer,
.bContainer,
.cContainer,
.dContainer,
.eContainer,
.fContainer {
    width: 45%;
    margin: 0 5% 10% 0;
    position: relative;
    border-radius: 5px;
}

.aContainer {
    float: left;
    background-color: #01363C;
}

.bContainer {
    float: right;
    background-color: #055F68;
}

.cContainer {
    float: left;
    background-color: #1FA5B1;
}

.dContainer {
    float: right;
    background-color: #01363C;
}

.eContainer {
    float: left;
    background-color: #055F68;
}

.fContainer {
    float: right;
    background-color: #1FA5B1;
}

.aContainer a,
.bContainer a,
.cContainer a,
.dContainer a,
.eContainer a,
.fContainer a {
    text-decoration: none;
    color: #fff;
    padding: 20px;
    font-size: 2.2rem;
    font-weight: 700;
    position: absolute;
    bottom: -30px;
    left: 100px;
    border-radius: 5px;
}

.aContainer a {
    background-color: #055D67;
}

.bContainer a {
    background-color: #1FA5B1;
}

.cContainer a {
    background-color: #01363C;
}

.dContainer a {
    background-color: #055F68;
}

.eContainer a {
    background-color: #1FA5B1;
}

.fContainer a {
    background-color: #01363C;
}

.xContainer {
    width: 70%;
    float: left;
}

.yContainer {
    width: 30%;
    height: 1800px;    
    background-color: #451734;    
    float: left;
    margin-bottom: 5%;
    text-align: center;
    color: #fff; 
    border-radius: 5px; 
}

.yContainer i {
    padding-top: 10%;
    font-size: 3.5rem;
    color: #1FA5B1;
}

.yContainer p {
    font-size: 1.8rem;
    margin-right: 5%;
    margin-left: 5%;
}

.yContainer h3 {
    font-size: 3rem;
    font-weight: 300;
    margin: 5%;
}

#bigQuote1 {
    font-size: 5rem;
    padding-top: 20%;
}

#bigQuote2 {
    font-size: 5rem;
    padding-top: 0;
}

#hr {
    margin-bottom: 5%;
}

h2 span {
    background-color: #1FA5B1;
    color: #fff;
    padding: 20px;
    font-size: 2.2rem;
    border-radius: 5px;    
}

.botContainerNav {
    width: 40%;
    margin:  0 auto;
    position: relative;
}

.botContainerNav li {
    display: inline-block;
    text-align: center;
    color: #fff;
    padding: 6px;
}

.botContainerNav h3 {
    font-size: 2.5rem;
    font-weight: 300;
    color: #fff;
    text-align: center;
}

.botContainerNav hr {
    display: block;
    width: 80%;
    height: 0.2rem;
    background-color: #fff;
    border: none;
}

input {
    font-family: 'Raleway', sans-serif;  
    font-weight: 700;
    color: #451734;     
    height: 50px;
    width: 330px;
    margin-right: 2%;
    border: 0;
    border-radius: 5px;
}

#email {
    margin-right: 0;
    width: 380px;
}

#submit {   
    color: #fff;
    background-color: #451734; 
    height: 75px;
    width: 75px;
    margin: 0;
    padding: 0;
    border-radius: 50px;
    position: absolute;
    bottom: -12px;
    right: 0;
    z-index: 100;
}

.footerContainer h2 {
    font-size: 1.8rem;
    font-weight: 300;
    color: #451734;
    line-height: 10px;
}
/* end of custom css */

/* media queries starts here */
/* (pritrukau laiko responsive dizainui) */
@media (max-width: 1919px){
    html {
        display: none;
    }
}
/* media queries ends here */